<header class="outer-container">
<video autoplay muted loop playsinline id="myVideo">
  <source src="assets/video/bg.mp4" type="video/mp4">
</video>
<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-4">
            <h3>Scheduling. Made. Easy.</h3>
            <p>Welcome to Meet X! A service made to make your life a tiny bit easier.</p>
              {{#unless user}}
                <a href="/auth/signin"><i class="fa fa-windows fa-lg" aria-hidden="true"></i> Sign in with Microsoft</a>
              {{/unless}}
        </div>
            
        <div class="col-12 col-lg-8">
            <img src="assets/graphic/mainbannertransparent.png" alt="banner">
        </div>
    </div>
</div>
</header>
<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-7">
          <img src="assets/graphic/stock_meeting.jpg">
        </div>
        <div class="col-12 col-lg-5">
            <h3>Why Meet X?</h3>
            <p>With Meet X you can schedule as many meetings as 
              you want at absolutely no cost. We take the hassle
               out of coordinating meetings, so you can focus your
                energy on creating the best content and delivering 
                the highest quality of work. The app keeps track
                 of the entire meeting, making it possible to reschedule,
                  cancel, or even split a meeting among a team
                   of people. Scheduling meetings is easy — you
                    just connect with people you want to meet and share the full details!</p>

    </div>
</div>
</div>