@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@font-face {
	font-family: "Aquire";
	src: url("../fonts/AquireBold-8Ma60.otf");
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  padding-bottom: 3em;
}

img {
  max-width: 100%;
}

.head-meetings {
	padding: 1em;
	margin: 0;
    background-color: aliceblue;
    border-radius: 0 10px 0 10px;
}

.head__custom-nav .navbar-brand img {
	width: 18px;
	height: 18px;
}

.head__custom-nav .navbar-brand span {
	font-family: 'Aquire', 'sans-serif';
	font-weight: 700;
	margin-left: 10px;
	color: #0055d4;
	font-size: 2em;
}

.head__custom-nav button {
	padding: 0;
}

.head__custom-nav button span img {
	width: 45px;
}

.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
	color: #000;
	font-weight: 400;
	padding: 8px 15px;
	white-space: nowrap;
	transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
}

.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
	color: lightcoral;
}

.custom-section {
	width: inherit;
	padding: 6em 0;
}

.custom-section .col-lg-4 {
	margin-top: 100px;
}

header.outer-container {
  background-color: #222;
  color: #eee !important;
  position: relative;
  overflow: hidden;
}

.custom-section .col-lg-4 h2 {
	font-weight: 700;
	font-size: 63px;
	/* color: #000; */
	margin-bottom: 0;
	line-height: 1;
	white-space: nowrap;
}

.custom-section .col-lg-4 h3 {
	font-weight: 300;
	font-size: 64px;
	/* color: #000; */
  line-height: 1;
  text-shadow: 3px 3px 5px black;
}

.custom-section .col-lg-4 p {
	/* color: #000; */
	text-shadow: 2px 2px 5px black;
	font-size: 14px;
	margin-top: 30px;
}

.custom-section .col-lg-4 a {
	display: inline-block;
	padding: 8px 22px;
	color: #fff;
	background-color: #1EA5F7;
	border: 1px solid transparent;
	margin-top: 60px;
	text-decoration: none;
	transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.custom-section .col-lg-4 a:hover {
	color: #1EA5F7;
	background-color: #fff;
	border: 1px solid #1EA5F7;
}

.custom-section .col-lg-8 img {
	width: 100%;
	position: absolute;
	top: -14rem;
	right: -11%;
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.dropdown {
  transition: all 2s;
}

.nav-border {
	border-bottom: solid #ccc 1px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.addMeeting {
    padding: 0.5em;
	display: block;
	text-align: center;
    border-radius: 10px;
}

.meeting-list {
	width: 100%;
	margin-top: 1em;
	background-color: #add9ff;
	padding: 1em;
	border-radius: 0px 10px 0px 10px;
	border: 1px solid #ccc;
}

.ended {
	background-color: #dbeeff  !important;
}

#calendar {
	margin-top: 3em;
}

@media screen and (max-width: 991.98px) {
	.custom-section .col-lg-8 img {
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
  }

  .custom-section {
    flex-direction: column-reverse;
  }

  .custom-section .col-lg-4 h3 {
    font-size: 3em;
  }

  .custom-section {
    padding: 5em 0;
  }

  .spacing-1em {
	margin-top: 3em;
  }
}

@media screen and (max-width: 340px) {
  .custom-section .col-lg-4 h3 {
    font-size: 2em;
  }

  .custom-section .col-lg-4 a {
    font-size: 0.8em;

  }
}
/*# sourceMappingURL=style.css.map */

/*
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#schedule {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	padding: 1em;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#date-list {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.attendee {
	border: none transparent;
	background: #842bd7;
	color: white;
	width: 100%;
	outline: none;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;
}

#attendee {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	padding: 1em;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	width: auto;
}

#attendee > * {
	margin: 0.3em;
	display: inline-block;
}

#attendee i {
	font-size: 1.5em;
}



.attendee:focus {
	border: none transparent;
}